form
  include ../input-fields/input-field
  +input-field('First name', 'first_name', 'text', 'first_name', 'first_name', 'First name', true)
  +input-field('Second name', 'second_name', 'text', 'second_name', 'second_name', 'Second name', true)
  +input-field('Display name', 'display_name', 'text', 'display_name', 'display_name', 'Display name', true)
  +input-field('Login', 'login', 'text', 'login', 'login', 'Login', true)
  +input-field('Email', 'email', 'email', 'email', 'email', 'Email', true)
  +input-field('Phone', 'phone', 'tel', 'phone', 'phone', 'Phone', true)
  include ../input-fields/avatar-input-field
  +input-field('New password', 'newPassword', 'PASSWORD', 'newPassword', 'newPassword', 'New password', true)
  +input-field('Old password', 'oldPassword', 'PASSWORD', 'oldPassword', 'oldPassword', 'Old password', true)
  button(class='button button_align_right') Save