form
  include ../input-fields/first-name-input-field
  include ../input-fields/second-name-input-field
  include ../input-fields/display-name-input-field
  include ../input-fields/login-input-field
  include ../input-fields/email-input-field
  include ../input-fields/phone-input-field
  include ../input-fields/avatar-input-field
  include ../input-fields/new-password-input-field
  include ../input-fields/old-password-input-field
  button(class='button button_align_right') Save