form.message-form
  include ../input-fields/message-input-field
  div.message-form__flex-row-container
    include ../input-fields/file-input-field    
    button(class='button button_align_right') Send