form
  include ../input-fields/input-field
  +input-field('Search in contacts and messages', 'search_contacts_messages', 'search', 'search_contacts_messages', 'search_contacts_messages', 'Search in contacts and messages', false)