form
  include ../input-fields/input-field
  +input-field('Login', 'login', 'text', 'login', 'login', 'Login', true)
  +input-field('Password', 'password', 'PASSWORD', 'password', 'password', 'Password', true)
  button(class='button button_align_right') Sign in