.button {
  box-sizing: border-box;
  padding: 8px 6px;
  margin: 0;
  display: block;
  border-radius: 10px;
  font-family: var(--font-family-serif);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  white-space: pre-line;
  text-align: center;
  user-select: none;
  transition: 0.3s ease background-color;
  color: var(--color-purple1);
  background-color: var(--color-gray6);
  border: 1px solid var(--color-purple1);
}

.button:active {
  color: var(--color-gray6);
  background-color: var(--color-purple1);
}

.button:disabled {
  color: var(--color-gray5);
  background-color: var(--color-gray6);
  border: 1px solid var(--color-gray6);
}
