.file-input__alternative-element {
  box-sizing: border-box;
  padding: 7px 4px;
  margin: 0;

  display: block;

  width: 169px;

  font-family: var(--fontFamily-sansSerif);
  font-style: normal;
  font-size: 17px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;

  user-select: none;

  border-radius: 10px;

  color: var(--color-purple1);
  background-color: var(--color-gray6);
  border: 1px solid var(--color-purple1);
}