extends ../layout/layout

block content 
  h1 Index

  nav 
    a(href="authorization.pug") Authorization
    a(href="error.pug") Error
    a(href="index.pug") Index
    a(href="messages.pug") Messages
    a(href="not-found.pug") Not found
    a(href="registration.pug") Registration
    a(href="user-settings.pug") User settings