extends ../layout/layout

block title 
  title Messages

block content
  div.page
    header.page__header
      div.page__flex-column-container
        div.page__flex-row-container
          h1.page__heading Messages
          nav.page__nav 
            a.link(href='user-settings.pug') User settings
        include ../includes/forms/search-contacts-messages-form
    main(class='page__main page_safe-area-top_large page_horizontal-padding_zero')
      include ../includes/chats-list/chats-list