extends ../layout/layout

block title 
  title Sign in

block content
  div.page
    header.page__header
      div.page__flex-row-container
        h1.page__heading Sing in
        nav.page__nav 
          a.link(href='sign-up.pug') Sign-up
    main.page__main
      include ../includes/forms/sign-in-form