extends ../layout/layout

block content
  nav 
    a(href='sign-in.pug' style='margin: 10px') Sign in
    a(href='sign-up.pug' style='margin: 10px') Sign up
    a(href='messages.pug' style='margin: 10px') Messages
    a(href='single-chat.pug' style='margin: 10px') Single chat
    a(href='user-settings.pug' style='margin: 10px') User settings
    a(href='internal-error.pug' style='margin: 10px') Internal error
    a(href='not-found.pug' style='margin: 10px') Not found