extends ../layout/layout

block title 
  title Sign up

block content
  div.page
    header.page__header
      div.page__flex-row-container
        h1.page__heading Sing up
        nav.page__nav 
          a.link(href='sign-in.pug') Sign-in
    main.page__main
      include ../includes/forms/sign-up-form