extends ../layout/layout

block title 
  title Single chat

block content
  div.page
    header.page__header
      div.page__flex-column-container
        div.page__flex-row-container
          h1.page__heading Cosmo Kramer
          nav.page__nav 
            a.link(href='messages.pug') Messages
      include ../includes/forms/search-chat-form
    main(class='page__main page_safe-area-top_large page_safe-area-bottom_large')
      include ../includes/messages-list/messages-list
      include ../includes/forms/message-form