extends ../layout/layout

block title 
  title User settings

block content
  div.page
    header.page__header
      div.page__flex-row-container
        h1.page__heading User settings
        nav.page__nav 
          a.link(href='messages.pug') Messages
    main.page__main
      include ../includes/forms/change-user-settings-form