.label {
  box-sizing: border-box;
  padding: 4px;
  margin: 0;
  display: inline-block;
  font-family: var(--font-family-sans-serif);
  font-style: normal;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  text-align: left;
  color: var(--color-gray1);
}
