label.label(for='search_contacts_messages') Search in contacts and messages
input.text-input(type='search' name='search_contacts_messages' id='search_contacts_messages' placeholder='Search in contacts and messages')