ul.messages-date-list 
  li.messages-date-list__item 
    p.messages-date-list__text messages-date-list__text
    ul.messages-list 
      
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_inbox') message message_type_inbox
        p(class='message__status message__status_type_inbox') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_inbox') message message_type_inbox
        p(class='message__status message__status_type_inbox') message__status
        li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_inbox') message message_type_inbox
        p(class='message__status message__status_type_inbox') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_sent') message message_type_sent
        p(class='message__status message__status_type_sent') message__status
      li.messages-list__item 
        p(class='message message_type_inbox') message message_type_inbox
        p(class='message__status message__status_type_inbox') message__status
      