ul.chat-list 
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')
  li.chat-list__item 
    article.chat 
      div.avatar
        img.avatar__img(src='https://images.unsplash.com/photo-1618921438889-d4bab3daa021?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80' alt='spaniel')
      div.chat__container
        h2.chat__heading chat__heading
        h3.chat__sub-heading chat__sub-heading
        p.chat__text chat__text
      a.chat__link(href='#')