.page-heading {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: 17px;
  white-space: pre-line;
  color: var(--color-gray1);
}
